@{
    Layout = "~/Views/Faculty/_FacultyLayout.cshtml";
    ViewData["Title"] = "Faculty Dashboard";
}

<h2>Classroom</h2>

<div class="class-grid">

    <!-- CARD 1 -->
    <div class="class-card">
        <div class="card-header dark">
            <h5>Machine Learning - Sem 8</h5>
            <p>Rakesh Savant</p>
        </div>

        <div class="card-body">
            <img src="~/images/class.png" class="class-img" />
        </div>

        <div class="card-footer">
            <i class="bi bi-folder"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="class-card">
        <div class="card-header gray">
            <h5>IT5013 - Introduction</h5>
            <p>Rakesh Savant</p>
        </div>

        <div class="card-body">
            <img src="~/images/class.png" class="class-img" />
        </div>

        <div class="card-footer">
            <i class="bi bi-folder"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>

</div>