@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container">
    <h2>Select Role</h2>

    <form method="post">
        <button type="submit" name="role" value="1">Faculty</button>
        <button type="submit" name="role" value="2">Student</button>
    </form>
</div>