
@{
    ViewData["Title"] = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Virtual Classroom</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <!-- Sidebar -->
    <partial name="_Sidebar" />

    <!-- Main -->
    <div class="main-content">
        <partial name="_Navbar" />

        <div class="content-area">
            @RenderBody()
        </div>
    </div>

</body>
</html>