
@{
    ViewData["Title"] = "_Navbar";
}
<nav class="navbar bg-white shadow-sm px-3">
    <span class="navbar-brand fw-bold">Classroom</span>

    <div class="ms-auto d-flex align-items-center">
        <i class="bi bi-plus-lg me-3 icon-btn"></i>
        <i class="bi bi-grid-3x3-gap me-3 icon-btn"></i>
        <div class="profile-circle">S</div>
    </div>
</nav>