
@{
    ViewData["Title"] = "_Sidebar";
}

<div class="sidebar">
    <ul>
        <li><i class="bi bi-house"></i><span>Home</span></li>
        <li><i class="bi bi-calendar"></i><span>Calendar</span></li>
        <li><i class="bi bi-journal"></i><span>Enrolled</span></li>
        <li><i class="bi bi-check2-square"></i><span>To-do</span></li>
        <li><i class="bi bi-archive"></i><span>Archived</span></li>
        <li><i class="bi bi-gear"></i><span>Settings</span></li>
    </ul>
</div>

