<div class="container-fluid">
    <div class="row g-4">

        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="card course-card">
                <div class="card-header bg-dark text-white">
                    Machine Learning - Sem 8
                    <div class="small">Rakesh Savant</div>
                </div>

                <div class="card-body text-center">
                    <img src="/images/profile.png" class="profile-img" />
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <i class="bi bi-folder"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6">
            <div class="card course-card">
                <div class="card-header bg-secondary text-white">
                    IT5013 - Introduction
                    <div class="small">Rakesh Savant</div>
                </div>

                <div class="card-body text-center">
                    <img src="/images/profile.png" class="profile-img" />
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <i class="bi bi-folder"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6">
            <div class="card course-card">
                <div class="card-header bg-success text-white">
                    Python - Sem 5
                    <div class="small">Unknown user</div>
                </div>

                <div class="card-body text-center">
                    <img src="/images/profile.png" class="profile-img" />
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <i class="bi bi-folder"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
        </div>

    </div>
</div>